<main id="main">

<div id="login">
        <div class="container pt-3">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12 pt-5 pb-5">
                            <h3 class="text-left">My Profile - Change Password</h3>
                            <div ng-show="isError" class="alert alert-danger">
                                {{ msg }}
                            </div>
                            <br/><div ng-show="isOK" class="alert alert-success">
                                Success! Password has been updated.
                            </div>
                            <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Enter New Password:</span>
  </div>
  <input type="text" ng-model="npwd" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<br/>
<button type="button" ng-click="updatedPwd();" class="btn btn-primary">Change</button>  <button type="button" class="btn btn-primary" ng-click="back();" >Back</button>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    </main>